.fade-me-out.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}

tr.htmx-swapping td {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.table-wrapper {
    max-height: 100%;
    overflow: auto;
    display:inline-block;
  }
